---
import PageLayout from "../../layouts/PageLayout.astro";
import type { Locales } from "../../i18n/ui";

interface Props {
  lang: Locales;
}

const { lang } = Astro.props;
---

<PageLayout lang={lang}>
  <h1>About Us</h1>
</PageLayout>