---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="flex min-h-[65px] items-center border-l-2 border-black pl-5 mb-8">
  <p class="text-2xl lg:text-3xl font-normal leading-snug whitespace-pre-line">{text}</p>
</div>
