---
interface Props {
  text: string;
  href?: string;
}

const { text, href = "/lanzamientos" } = Astro.props;
---

<a
  href={href}
  class="border border-black px-10 py-3 text-center font-extrabold text-sm tracking-widest uppercase transition-colors hover:bg-black hover:text-white"
>
  {text}
</a>
