---
import SeparadorOneImage from '../../assets/images/SeparadorOneImage.svg'
---
<section class="w-full h-auto flex items-center justify-center object-cover">
  <img class="w-full h-full" src={SeparadorOneImage.src} alt="acium modelos"/>
</section>
