---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro';

interface Props {
imageSrc: ImageMetadata;
taglineOne: string;
taglineTwo: string;
}

const { imageSrc, taglineOne, taglineTwo } = Astro.props; 
---

<article data-scroll-scrub-world class="w-fit max-w-full h-[auto] p-[16px] overflow-hidden">
  <div data-scroll-scrub-world-inner class="flex flex-col justify-center items-center gap-[16px] opacity-0 translate-y-[16px]">
    <img class="max-w-[198px] object-cover" src={imageSrc.src} alt="">
    <div class="border-y-[1px] border-white">
      <p class="text-white text-[40px] font-[300]">{taglineOne}</p>
    </div>
    <div>
      <span class="text-white text-[75px] leading-[75px]">{taglineTwo}</span>
    </div>
  </div>
</article>
