---
interface Props {
  text: string;
  href?: string;
}

const { text, href = '/lanzamientos' } = Astro.props;
---

<a
  href={href}
  class="self-start border border-white px-8 py-3 text-[14px] font-[800] uppercase tracking-[0.2em] text-white transition-colors hover:bg-white hover:text-black"
>
  {text}
</a>
