---
import LaunchCTA from '../atoms/LaunchCTA.astro';
import LaunchDescription from '../atoms/LaunchDescription.astro';
import LaunchTagline from '../atoms/LaunchTagline.astro';
import LaunchTitle from '../atoms/LaunchTitle.astro';
---

<div class="h-full w-full md:w-1/2 flex-1 md:flex-none flex flex-col justify-center items-start px-8">
  <LaunchTagline />
  <LaunchTitle />
  <LaunchDescription />
  <LaunchCTA />
</div>
