---
interface Props {
  fallbackText?: string;
}

const { fallbackText } = Astro.props;
---

<div
  class="w-full lg:w-1/2 min-h-[300px] lg:min-h-[600px] overflow-hidden"
  style="background-color: #D9D9D9;"
>
  {fallbackText && <span class="sr-only">{fallbackText}</span>}
  <slot />
</div>
