---
import LaunchContent from '../molecules/LaunchContent.astro';
import LaunchMediaPlaceholder from '../molecules/LaunchMediaPlaceholder.astro';
---

<section class="w-full h-[600px] flex flex-col md:flex-row">
  <LaunchMediaPlaceholder />
  <LaunchContent />
</section>
