---
import { normalizeLocale, useTranslations } from '../../i18n/utils';

//const { currentLocale } = Astro;

const lang = normalizeLocale(Astro.currentLocale);
const t = useTranslations(lang);
---
<section>
    <h1 class="text-red-500">{t('title')}</h1>
</section>
